<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Seleccione una opción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-segment [(ngModel)]="binding">
  <ion-segment-button value="explaboral">
    <ion-label>Experiencia Laboral</ion-label>
  </ion-segment-button>
  <ion-segment-button value="misdatos">
    <ion-label>Mis datos</ion-label>
  </ion-segment-button>
  <ion-segment-button value="certi">
    <ion-label>Certificaciones</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <div [ngSwitch]="binding">
    <ion-list *ngSwitchCase="'explaboral'">
      <!-- Formulario para Experiencia Laboral -->
      <form>
        <ion-item>
          <ion-label position="floating">Nombre de la empresa</ion-label>
          <ion-input placeholder="Nombre de la empresa"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Puesto</ion-label>
          <ion-input placeholder="Puesto"></ion-input>
        </ion-item>
      </form>
    </ion-list>
    <ion-list *ngSwitchCase="'misdatos'">
      <!-- Formulario para Mis Datos -->
      <form>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input placeholder="Nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input type="email" placeholder="Correo electrónico"></ion-input>
        </ion-item>
      </form>
    </ion-list>
    <ion-list *ngSwitchCase="'certi'">

      <form>
        <ion-item>
          <ion-label position="floating">Nombre del certificado</ion-label>
          <ion-input placeholder="Nombre del certificado"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label class="custom-floating-label" position="floating">Fecha de obtención</ion-label>
          <ion-input type="date"></ion-input>
        </ion-item>
      </form>
    </ion-list>
  </div>
</ion-content>







